<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/index.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="container">
	
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>    
		
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
					-
					<span th:utext="${money}"></span> VND
				</div>
				<div class="panel-body">
					<div ng-app="myApp" ng-controller="myCtrl" class="container content">
						<h1 class="text-heaer"><a href="/user/getArrange">TOP DANH VỌNG</a></h1>
						<h4 class="text-heaer">Vui Cùng World Cup</h4>
						<ul>
							<li ng-repeat="match in matchList" ng-click="changeCurrentMatch(match)">{{match.homeTeam}} - {{match.awayTeam}}(0 : {{match.rate}})</li>
						</ul>
						<table class="table tbl-info">
							<tr>
								<td>{{currentMatch.homeTeam}}</td>
								<td>{{currentMatch.awayTeam}}</td>
							</tr>
							<tr>
								<td>0</td>
								<td>{{currentMatch.rate}}</td>
							</tr>
							<tr>
								<td><input type="number" class="inpoint" max="20" min="2" ng-model="currentMatch.homePoint"/></td>
								<td><input type="number" class="inpoint" max="20" min="2" ng-model="currentMatch.awayPoint"/></td>
							</tr>
							<tr>
								<td><input type="button" value="Đặt Cho {{currentMatch.homeTeam}}" ng-click="betForMatch(true)"/></td>
								<td><input type="button" value="Đặt Cho {{currentMatch.awayTeam}}"  ng-click="betForMatch(false)"/></td>
							</tr>
						</table>
						<br/>
						<h2 class="text-heaer">Thời Gian Kết Thúc</h2>
						<h3 class="text-heaer">{{currentMatch.expireTime | date : "HH:mm:ss dd/MM/yyyy"}}</h3>
						<table class="table tbl-summary">
							<tr>
								<td></td>
								<td>{{currentMatch.homeTeam}}</td>
								<td>{{currentMatch.awayTeam}}</td>
							</tr>
							<tr ng-repeat="bet in betList">
								<td>{{bet.user.lastName}} {{bet.user.name}}</td>
								<td><div ng-show="bet.betHome" ><span ng-repeat="p in getNumber(bet.point) track by $index">O</span></div></td>
								<td><div ng-show="!bet.betHome" ><span ng-repeat="p in getNumber(bet.point) track by $index">O</span></div></td>
							</tr>
							<tr>
								<td>{{currentMatch.homeTotal - currentMatch.awayTotal}}</td>
								<td>{{currentMatch.homeTotal}}</td>
								<td>{{currentMatch.awayTotal}}</td>
							</tr>
						</table>
					</div> 
				</div>
				<p class="admin-message-text text-center"> <a href="/user/all-user">Xem tài khoản của tất cả mọi người</a></p>
			</div>
		</div>
		
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="../../js/index.js"></script>
</body>
</html>